@page "/sprints"

@using WhatIsTheCurrentSprint.Core.Data
@inject ISprintInfoService SprintInfoService

<h1>Sprints</h1>

<p></p>

@if (sprint == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Sprint</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Code Complete Date</th>
                <th>Code Freeze Date</th>
                <th>Release Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@sprint.Sprint</td>
                <td>@sprint.Status</td>
                <td>@sprint.StartDate.ToString("D")</td>
                <td>@sprint.EndDate.ToString("D")</td>
                <td>@sprint.CodeCompleteDate.HasValue ? @sprint.CodeCompleteDate.Value.ToString("D") : &nbsp;</td>
                <td>@sprint.CodeFreezeDate.HasValue   ? @sprint.CodeFreezeDate.Value.ToString("D") : &nbsp;</td>
                <td>@sprint.ReleaseDate.HasValue      ? @sprint.ReleaseDate.Value.ToString("D") : &nbsp;</td>
                <td>
                    <NavLink class="nav-link" href="sprints/current-sprint/edit">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </NavLink>
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    private SprintInfo sprint;

    protected override async Task OnInitializedAsync()
    {
        sprint = await SprintInfoService.GetCurrentSprintInfoAsync();

        if (sprint == null)
        {
            sprint = new SprintInfo();
        }
    }
}
